@media (max-width: 576px) {
  .section-title {
    font-size: 40px;
  }
  .swiper-buttons > i {
    margin-top: 24px;
    color: #074e62;
    font-size: 36px;
  }
  .section-title-swiper p {
    font-size: 40px;
  }
  .buttons-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttons-top {
    display: none;
  }
  /* HEADER */
  .main-header {
    width: 100%;
    height: 46px;
    padding: 5px 10px;
    border-radius: 0 0 12px 12px;
    box-sizing: border-box;
  }
  .header-logo img {
    width: 93px;
    height: 32px;
  }
  .header-nav {
    display: none;
  }
  .header-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 8px;
    background-color: #074e62;
    border-radius: 70px;
    width: 90px;
    height: 32px;
  }
  .burger-text,
  .burger-icon {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    font-weight: 510px;
  }
  /* PROMO */
  .site-promo {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .promo-banner {
    display: none;
  }
  .promo-content {
    width: 100%;
    box-sizing: border-box;
    height: auto;
  }
  .promo-main {
    border-radius: 12px;
    padding: 15px;
  }
  .promo-title {
    font-size: 40px;
    line-height: 90%;
    letter-spacing: -4%;
  }
  .promo-text {
    font-size: 14px;
  }
  .promo-btn {
    width: 100%;
    height: 52px;
  }
  .promo-footer {
    flex-direction: column;
    align-items: start;
    padding: 0;
    height: auto;
    padding: 15px;
  }
  .promo-footer p {
    margin-bottom: 0;
    width: 100%;
    font-size: 14px;
  }
  .promo-circles {
    width: 100%;
    height: 88px;
  }
  .promo-circles img {
    width: 60px;
    height: 60px;
  }
  .circle {
    width: 60px;
    height: 60px;
  }
  .c-1 {
    left: 0px;
    border: none;
  }
  .c-2 {
    left: 45px;
  }
  .c-3 {
    left: 90px;
  }
  .c-4 {
    left: 135px;
  }
  .c-5 {
    left: 180px;
    font-size: 24px;
  }
  /* PROGRAMS */
  #programs {
    margin-bottom: 30px;
  }
  .programs-card {
    width: 100% !important; /* ширина как у контейнера */
    box-sizing: border-box;
    border-radius: 12px;
  }
  .programs-card img {
    width: 100% !important;
    height: 320px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
  }
  .programs-card-text,
  .programs-card-subtitle {
    font-size: 14px;
    padding: 0 0 15px 0;
  }
  .programs-card-title {
    padding: 5px 0;
    font-size: 20px;
    height: 49px;
  }
  .programs-card-button {
    height: 40px;
    font-size: 14px;
  }
  .programs-swiper-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  /* BENEFITS */
  #benefits {
    margin-bottom: 30px;
  }
  .benefits-cards {
    flex-wrap: wrap;
  }
  .benefits-card {
    width: 100% !important;
    box-sizing: border-box;
    min-height: 222px;
    border-radius: 12px;
    padding: 10px;
  }
  .benefits-card-info {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
  }
  .benefits-title {
    font-size: 20px;
  }
  .benefits-text {
    font-size: 14px;
    letter-spacing: 0%;
  }
  /* METHOD */
  #method {
    margin-bottom: 30px;
  }
  .method-card {
    width: 100% !important; /* ширина как у контейнера */
    box-sizing: border-box;
    height: 210px;
    padding: 10px;
  }
  .method-content-blue {
    padding: 15px;
    margin: 0;
    font-size: 20px;
  }
  .method-content-white {
    padding: 15px;
    margin: 0;
    font-size: 20px;
  }
  .method-title {
    font-size: 20px;
  }
  .method-text {
    font-size: 14px;
  }
  .method-card:hover .method-content-blue {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .method-card:hover .method-content-white {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  /* TEACHERS */
  #teachers {
    margin-bottom: 30px;
  }
  .teachers-cards {
    margin-top: 30px;
  }
  .teacher-card {
    width: 100%;
    box-sizing: border-box;
  }
  .teacher-card > img {
    width: 100%;
    box-sizing: border-box;
  }
  .teacher-name {
    font-size: 20px;
  }
  .teacher-info {
    font-size: 14px;
  }
  .teacher-button {
    font-size: 14px;
    width: 100%;
  }
  /* REVIEWS */
  #reviews {
    margin-bottom: 30px;
  }
  .reviews-cards {
    margin-top: 30px;
  }
  .review-card {
    border-radius: 12px;
  }
  .review-card-user {
    padding: 17px;
  }
  .review-card-user > img {
    width: 52px;
    height: 52px;
    margin-right: 15px;
  }
  .review-name {
    font-size: 20px;
  }
  .review-level {
    font-size: 12px;
  }
  .review-bg-blue {
    border-radius: 6px;
    padding: 10px;
  }
  .review-comment {
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
  }
  /* FAQ */
  #faq {
    margin-bottom: 30px;
  }
  .faq-button-question {
    display: none;
  }
  .faq-question-mbl {
    display: block;
    width: 100%;
    height: 40px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 510;
    background-color: #074e62;
    border: none;
    border-radius: 12px;
    margin-top: 20px;
  }
  .faq-cards {
    flex-wrap: wrap;
  }
  .faq-card {
    width: 100%;
    box-sizing: border-box;
  }
  .faq-question {
    font-size: 16px;
    padding: 10px;
    gap: 10px;
  }
  .faq-question p {
    font-size: 16px;
  }
  .faq-toggle {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  /* CONTACTS */
  #contacts {
    flex-wrap: wrap;
  }
  .contact-bg {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 20px 10px 10px 10px;
    margin-bottom: 20px;
  }
  .contact-title {
    font-size: 36px;
  }
  .contact-list {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 35px;
    border-radius: 6px;
  }
  .contact-list p {
    margin-top: 10px;
    font-size: 14px;
  }
  .contact-list a {
    font-size: 14px;
  }
  .contact-icons a {
    margin-top: 10px;
    font-size: 23px;
  }
  #map {
    width: 100%;
    box-sizing: border-box;
    border: 10px solid #108bae;
    border-radius: 28px;
  }
  /* FOOTER */
  .footer-white {
    display: flex;
    flex-direction: column;
  }
  .footer-logo img {
    margin-bottom: 20px;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer-nav a {
    font-size: 16px;
    font-weight: 510;
  }
  #footer-number {
    display: none;
  }
  .footer-bottom {
    flex-direction: column;
    padding: 10px;
  }
  /* MODAL */
  .lesson-modal-title {
    font-size: 32px;
  }
  .lesson-modal-subtitle {
    font-size: 14px;
  }
  .rounded-modal {
    border-radius: 8px;
  }
  .swal2-input {
    font-size: 14px;
    height: 48px;
    width: 100%;
    margin: 10px 0;
  }
  .swal2-input::placeholder {
    font-size: 14px;
  }
  .swal2-confirm {
    width: 100%;
    height: 52px;
    font-size: 16px;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .confirm-button {
    font-size: 16px;
  }
  .swal2-actions {
    margin: 0;
    padding: 0 28px;
  }
  /* BURGER */
  .main-header {
    position: relative;
    z-index: 1002; /* выше оверлея */
  }
  .menu {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1001;
    margin: 0 50px;
    background: white;
    border-radius: 12px;
    padding: 5px;
  }
  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    z-index: 1000;
  }
  .overlay:not(.hidden) {
    clip-path: polygon(
      0 0,
      100% 0,
      100% var(--header-height),
      0 var(--header-height),
      0 100%,
      100% 100%,
      100% var(--header-height),
      0 var(--header-height)
    );
  }
  .burger-btn {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .menu-content {
    width: 100%;
    gap: 24px;
  }
  .menu-content ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    gap: 20px;
  }
  .menu-content a {
    text-decoration: none;
    color: #1f1f1f;
    font-weight: 510;
    font-size: 14px;
  }
  #menu-number {
    width: 100%;
    height: 52px;
    border: none;
    border-radius: 8px;
    background-color: #074e62;
    font-size: 16px;
    font-weight: 510;
    color: #ffffff;
    text-transform: uppercase;
  }
}
