body {
  background-color: #e7eef0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-header {
  width: 1320px;
  height: 100px;
  background-color: white;
  border-radius: 0 0 16px 16px;
}

.site-header-logo {
  padding-left: 30px;
}

.site-header-logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  font-style: normal;
}

.site-header-logo-text-top {
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
}

.site-header-logo-text-bottom {
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
}

.site-header-site-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.site-header-site-nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 16px;
}

.site-header-number {
  padding: 0 20px 0 30px;
}

.site-header-number-button {
  width: 186px;
  height: 48px;
  border-radius: 70px;
  background-color: #074e62;
  color: #ffff;
  border: 0px;
}

.site-promo {
  height: 650px;
  width: 1320px;
  max-width: 1320px;
  margin-top: 30px;
}

.site-promo-context {
  width: 650px;
  height: 650px;
  background-color: #074e62;
  border-radius: 30px;
  text-align: start;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.site-promo-context-white {
  background-color: #ffff;
  padding: 50px;
  border-radius: 28px;
}

.site-promo-context-white-title {
  font-weight: 599;
  font-size: 60px;
  line-height: 110%;
  margin-bottom: 20px;
}

.site-promo-context-white-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0%;
  margin-bottom: 20px;
}

.site-promo-context-white-subscribe-button {
  background-color: #108bae;
  width: 440px;
  height: 66px;
  color: #ffff;
  font-size: 18px;
  font-weight: 590;
  letter-spacing: -4%;
  line-height: 100%;
  border: 0px;
  border-radius: 52px;
}

.site-promo-context-bottom {
  width: 90%;
  height: 20%;
  padding: 50px;
}

.site-promo-context-bottom-text {
  font-weight: 500;
  font-size: 20px;
  width: 30%;
  color: #ffff;
}

.site-promo-context-bottom-imgs {
  width: 60%;
  position: relative;
}

.circle {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #074e62;
  background-color: #ffff;
}

.c-1 {
  left: 0px;
}
.c-2 {
  left: 60px;
}
.c-3 {
  left: 120px;
}
.c-4 {
  left: 180px;
}
.c-5 {
  left: 240px;
  color: #108bae;
  font-size: 32px;
  font-weight: 500;
}

#programs {
  width: 1320px;
}

.section-title {
  padding-top: 100px;
  font-size: 68px;
  font-weight: 500;
  letter-spacing: -4%;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.programs-cards {
  width: 1320px;
}

.programs-cards-standard {
  height: 553px;
  width: 315px;
}

.programs-cards-standard-title {
  font-weight: 600;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

.programs-cards-standard-title {
  font-weight: 600;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.programs-cards-standard-button {
  width: 100%;
  height: 56px;
  background-color: #108bae;
  border: none;
  border-radius: 48px;
  color: #ffff;
  font-size: 18px;
  font-weight: 500;
}

#benefits {
  width: 1320px;
}

.benefits-cards {
  margin-top: 10px;
}

.benefits-cards-standard {
  width: 428px;
  height: 366px;
}

.benefits-card-one {
  background-image: url('./card-back-1.png');
  background-size: cover;
  background-position: center;
}

.benefits-card-two {
  background-image: url('./card-back-2.png');
  background-size: cover;
  background-position: center;
}

.benefits-card-three {
  background-image: url('./card-back-3.png');
  background-size: cover;
  background-position: center;
}

.benefits-card-logo {
  width: 372px;
}

.benefits-card-info {
  width: 372px;
  height: 218px;
  background-color: #ffff;
  border-radius: 8px;
}

.benefits-card-info-title {
  margin: 20px 0 10px 0;
  font-size: 24px;
  font-weight: 590;
  width: 324px;
}

.benefits-card-info-text {
  font-size: 16px;
  font-weight: 400;
  width: 324px;
}

#method {
  width: 1320px;
}

.method-cards {
  height: 580px;
}

.method-card-standard {
  width: 426px;
  height: 280px;
}

.method-card-one {
  background-image: url('./method-1.png');
  background-size: cover;
  background-position: center;
}

.method-card-two {
  background-image: url('./method-2.png');
  background-size: cover;
  background-position: center;
}

.method-card-three {
  background-image: url('./method-3.png');
  background-size: cover;
  background-position: center;
}

.method-card-four {
  background-image: url('./method-4.png');
  background-size: cover;
  background-position: center;
}

.method-card-five {
  background-image: url('./method-5.png');
  background-size: cover;
  background-position: center;
}

.method-card-six {
  background-image: url('./method-6.png');
  background-size: cover;
  background-position: center;
}

.method-card-title {
  padding: 15px 30px 15px 30px;
  margin: 20px 0 0 20px;
  width: fit-content;
  border-radius: 40px;
  font-size: 24px;
  font-weight: 590;
}

.title-blue {
  background-color: #108bae;
  color: #ffff;
}

.method-card-two-info {
  background-color: #ffff;
  border-radius: 10px;
  width: 85%;
  height: 80%;
}

#teachers {
  width: 1320px;
}

.teachers-card-standard {
  width: 315px;
  height: 531px;
}

.swiper {
  width: 1320px;
}

.swiper-slide {
  background: #e7eef0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 1320px;
}

.swiper-buttons > button {
  color: #ffff;
  font-size: 24px;
  font-weight: bold;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: #108bae;
  margin-left: 10px;
}

.teacher-card-name {
  font-size: 24px;
  font-weight: 600;
}

.teacher-card-info {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}

.teacher-card-button {
  color: #ffff;
  font-size: 18px;
  font-weight: 500;
  width: 179px;
  height: 42px;
  border: none;
  border-radius: 48px;
  background-color: #108bae;
}

#reviews {
  width: 1320px;
}

.review-cards {
  min-width: 426px;
  height: 300px;
  background-color: #ffff;
  border-radius: 16px;
}

.review-card-user {
  padding: 20px;
}

.review-card-user > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.review-card-user-name {
  font-size: 24px;
  font-weight: 500;
}

.review-card-user-level {
  color: #818181;
  font-size: 16px;
}

.review-card-comment {
  width: 386px;
  min-height: 184px;
  border-radius: 16px;
  background-color: #108bae;
  padding: 20px;
}

.review-card-comment-white {
  width: 330px;
  min-height: 108px;
  background-color: #ffff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
}

#faq {
  width: 1320px;
}

.faq-button-question {
  width: 216px;
  height: 56px;
  color: #ffff;
  font-size: 18px;
  font-weight: 500;
  background-color: #108bae;
  border: none;
  border-radius: 38px;
}

.faq-cards {
  gap: 16px;
  max-width: 1320px;
}

.faq-card {
  width: 650px;
  min-height: 80px;
  border-radius: 12px;
  background-color: #ffff;
}

.faq-question {
  padding: 16px;
}

.faq-toggle {
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
  background-color: #074e62;
  border-radius: 50%;
  color: #ffff;
}

.faq-answer {
  display: none;
  background-color: #074e62;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0 0 12px 12px;
  padding: 20px;
  animation: slideDown 0.3s ease forwards;
}

.faq-card.open .faq-answer {
  display: block;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#contacts {
  width: 1320px;
  height: 750px;
}

.contact {
  width: 650px;
  height: 650px;
  background-image: url(./method-2.png);
  background-size: cover;
  background-position: center;
  border-radius: 28px;
}

#map {
  width: 630px;
  height: 630px;
  border: 10px solid #108bae;
  border-radius: 28px;
}

.contact-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  color: #ffff;
  margin: 0;
  margin-bottom: 10px;
}

.contact-white {
  width: 80%;
  height: 75%;
  background-color: #fff;
  border-radius: 8px;
}

.contact-white-titles {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 10px 10px 30px 10px;
}

.contact-white-info {
  color: #074e62;
}

.site-footer {
  width: 1320px;
}

.footer-white {
  background-color: #ffff;
  border-radius: 16px 16px 0 0;
  padding: 30px;
}

.footer-bottom {
  padding: 10px 30px 10px 30px;
  background-color: #074e62;
  border-radius: 0 0 16px 16px;
}

.footer-bottom > p {
  color: #ffff;
  font-size: 16px;
  font-weight: 400px;
}
